/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(login\ img.jpg);

    background-size: cover;
    background-position: center;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    max-width: 300px;
    margin: 150px auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #e9e912;
    color: #151111;
    cursor: pointer;
    font-size: 20px;
    
}
